{% include 'filters.twig' with {'wards' : wards, 'wardId' : wardId,
'dateFrom' : dateFrom, 'dateTo': dateTo, 'filters_form_action' :
'admin.php?page=zakazenia_zum_raport'} %} {% include
'table-top.twig' %}

<thead>
	<tr>
		<th data-field="m">Miesiąc</th>
		<th data-field="d">Data przesłania</th>
		<th data-field="o">Oddział</th>
		<th data-field="lpkzum" data-formatter="valueFormatter">LPKZUM</th>
		<th data-field="lpzum" data-formatter="valueFormatter">LPZUM</th>
		<th data-field="lpzum1" data-formatter="valueFormatter">LPZUM1</th>
		<th data-field="lpzum2" data-formatter="valueFormatter">LPZUM2</th>
		<th data-field="bm" data-formatter="valueFormatter">BM</th>
	</tr>
</thead>
</table>

{% include 'js-formatter.twig' %}
<script> 
var data = [
{% for infection in infections %}
	{
		"m" : "{{ infection.dataRaportu|date('Y-m') }}",
		"d" : "{% include 'date-diff.twig' %}",  
		"o" : "{{ infection.ward.name }} <small style='color:grey;'>{{ infection.user.name }} </small>",
		"lpkzum": {{ infection.LPKZUM }},
		"lpzum":	{{  infection.LPZUM }},
		"lpzum1":	{{  infection.LPZUM1 }},
		"lpzum2":	{{  infection.LPZUM2 }},
		"bm":	{{  infection.BM }}
	},
{% endfor %}
]
</script>
