{% include 'filters.twig' with {'wards' : wards, 'wardId' : wardId,
'date' : date, 'filters_form_action' : 'admin.php?page=epidemio_raport'}
%} {% include 'table-top.twig' %}
<thead>
	<tr style="font-size: 80%;">
		<th data-field="dr">Data raportu</th>
		<th data-field="dp">Data przesłania</th>
		<th data-field="o">Oddział (Użytkownik)</th>
		<th data-field="g" data-formatter="valueFormatter">G</th>
		<th data-field="a" data-formatter="valueFormatter">A</th>
		<th data-field="b" data-formatter="valueFormatter">B</th>
		<th data-field="bz" data-formatter="valueFormatter">Bzak</th>
		<th data-field="zmo" data-formatter="valueFormatter">ZMO</th>
		<th data-field="zum" data-formatter="valueFormatter">ZUM</th>
		<th data-field="pneuvap" data-formatter="valueFormatter">PNEU-VAP</th>
		<th data-field="zodc" data-formatter="valueFormatter">ZODC</th>
		<th data-field="zkr" data-formatter="valueFormatter">ZKR</th>
		<th data-field="roz3" data-formatter="valueFormatter">ROZ-III</th>
		<th data-field="roz2" data-formatter="valueFormatter">ROZ-II</th>
		<th data-field="oiom" data-formatter="valueFormatter">OIOM</th>
		<th data-field="bm" data-formatter="valueFormatter">BM</th>
		<th data-field="izol" data-formatter="valueFormatter">IZOL</th>
		<th data-field="zak" data-formatter="valueFormatter">ZAK</th>
		<th data-field="u">Uwagi</th>
		<th data-field="awk">Analiza, Konsultacja, Weryfikacja</th>
	</tr>
</thead>
</table>

{% include 'js-formatter.twig' %}
<script> 
var data = [
	{% for infection in infections %}
		{
			"dr": "{{ infection.dataRaportu|date('Y-m-d') }}",
			"dp" : "<small style=color:gray;>{% include 'date-diff.twig' %}</small>",
			"o" : "{{ infection.ward.name }} <small style=color:gray;>{{infection.user.name }}</small>",
			"g": {{ infection.G}},
			"a": {{ infection.A}},
			"b": {{ infection.B}},
			"bz": {{ infection.Bzak}},
			"zmo":{{ infection.ZMO}},
			"zum":{{ infection.ZUM}},
			"pneuvap":{{ infection.PNEUVAP}},
			"zodc":{{ infection.ZODC}}, 
			"zkr":{{ infection.ZKR}}, 
			"roz3":{{ infection.ROZIII}}, 
			"roz2":{{ infection.ROZII}}, 
			"oiom":{{ infection.OIOM}}, 
			"bm":{{ infection.BM}}, 
			"izol":{{ infection.IZOL}}, 
			"zak":{{ infection.ZAK}},
			"u":  "{{ infection.Uwagi|e('html')|e('js') }}",
			"awk": "<textarea id=weryfikacja{{ infection.id }} rows=1 cols=30 maxlength=1000>{{ infection.Weryfikacja|e('html')|e('js') }}</textarea><br/><button type=submit class=saveVeryfication name={{ infection.id }}>Zapisz</button>"
		},
		{% endfor %}
		]
</script>
